@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #d1cbcb;
    font-family: 'Kanit', sans-serif;
}

.header {
    font-size: 36px;
    padding-top: 40px;
    padding-left: 80px;
    background-color: white;
}

.button {
    background-color: white;
    padding-bottom: 7px;
    display: flex;
    justify-content: center;
}

.button > button {
    font-size: 20px;
    width: 150px;
    border: none;
    border-radius: 12px;
    background-color: transparent;
    box-shadow: 1px 2px 2px 1px #888888;
    cursor: pointer;
}

.book-form-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border-radius: 10px;
    z-index: 10;
    background-color: gainsboro;
    padding: 25px 15px;
    width: 300px;
    max-width: 50%;
    display: grid;
    grid-template-rows: min-content min-content;
}

.book-form-container.open {
    transform: translate(-50%, -50%) scale(1);
}

.close-button {
    position: absolute;
    grid-row: 1 / 2;
    justify-self: right;
    border: none;
    background-color: transparent;
    font-size: 40px;
    font-weight: 800;
    margin-top: -15px;
    transform: translate(30px,-50px);
}

.close-button:hover {
    font-weight: 1000;
    color: red;
    cursor: pointer;
}

.book-form {
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: repeat(5, min-content);
    row-gap: 25px;
}

.book-form > input {
    border-radius: 5px;
    border: 0;
    height: 30px;
    font-size: 18px;
}

.book-form > input:focus {
    outline-color: green;
}

.invalid-field {
    outline: 2px solid red !important;
}

.book-read{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 10px;
    font-size: 18px;
}


.book-read-yes, .book-read-no {
    display: grid;
    grid-template-columns: min-content min-content;
    justify-content: end;
}

.book-form > button {
    justify-self: center;
    width: 50%;
    border-radius: 5px;
    border-style: none;
    font-size: 18px;
    background-color: rgb(11, 153, 248);
}

.button > button:hover, .book-form > button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.button > button:active, .book-form > button:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.library{
    height: 100%;
    padding: 80px;
}

.books {
    margin-top: 7px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-items: center;
    gap: 40px;
    overflow: scroll;
}

.book-card {
    width: 250px;
    height: 250px;
    background-color: white;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px;
    border-radius: 12px;
}

.book-card > p {
    font-size: 16px;
    margin: 1px;
    text-align: center;
    word-wrap: break-word;
}
.book-card > button {
    width: 50%;
    font-size: 13px;
    align-self: center;
    margin: 4px;
    border-radius: 12px;
    border-style: none;
}



#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    transition: 200ms ease-in-out;
}

#overlay.open-form {
    opacity: 1;
    pointer-events: all;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    text-align: center;
    background-color: white;
    height: 30px;
}


a:visited {
    color: inherit;
}

a:hover {
    cursor: pointer;
}